{:deps    {}
 :paths   ["src"]
 :aliases {:test
           {:extra-deps  {com.google.cloud/google-cloud-storage      {:mvn/version "1.113.12"}
                          ring/ring-json                             {:mvn/version "0.5.0"}
                          liberator/liberator                        {:mvn/version "0.15.3"}
                          nl.epij/google-cloud-function-ring-adapter {:mvn/version "0.1.0-SNAPSHOT"}
                          ring/ring-core                             {:mvn/version "1.8.2"}
                          ring/ring-mock                             {:mvn/version "0.4.0"}
                          nubank/matcher-combinators                 {:mvn/version "3.1.4"}
                          hato/hato                                  {:mvn/version "0.8.0"}
                          com.cognitect/test-runner                  {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                                      :sha     "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
            :extra-paths ["test"]
            :main-opts   ["--main" "cognitect.test-runner"]}

           :google-cloud-tasks
           {:extra-deps {com.google.cloud/google-cloud-tasks {:mvn/version "1.31.1"}
                         com.google.api/gax-grpc             {:mvn/version "1.62.0"}}}}}
